body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}
    
header, nav, section, aside, footer {
    background: #ebebeb;
    text-align: center;
}

article {
    color: #ebebeb;
    background: #777;
    height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h5 {
    padding-top: 30px;
    padding-bottom: 30px;
}

section {
    float: left;
    display: inline;
    height: 325px;
    width: 495px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

aside {
    float: right;
    display: inline;
    height: 325px;
    width: 430px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    float: left;
    width: 960px;
}

.howhigh {
    margin-bottom: 15px;
    height: 85px;
}